@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
/* TODO: RESPONSIVE DESIGN */
/* ------ GENERAL ------ */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

head {
  margin: 0;
}

body { 
  background-color: #fafafa;
  margin: 1em 1.5em;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* ------ INPUT FORM ------ */

.form-block{
  display: inline-block;
}

.form-subtitle {
  margin-top: 1em;
}

.form-row {
  margin-top: 1em;
}

.input-wrapper {
  border-style: solid;
  padding: 10px;
  display: inline-block;
  flex: 0 0 450px;
}

#train-button {
  color: white;
  background: black;
  border: none;
  font-size: 1em;
  padding: 0.3em;
  cursor: pointer;
}

/* ------ OUTPUT SECTION ------ */

#outputs {
  flex: 1 1 auto;
  overflow-x: auto;
  display: inline-block;
  border-style: solid;
  padding: 10px;
}

#sample-display {
  white-space: pre-wrap;
}

/* ------ WRAPPER ------ */

.flex-wrapper{
  /* general properties */
  height: 470px;
  display: flex;
  gap: 20px;

  /* overflow behaviour */
  overflow-x: hidden;
  overflow-y: auto;
  overflow-wrap: anywhere;
}
